.form-container {
  width: 1000px; /* Adjust the width as needed */
  padding: 40px;
  border: 1px solid #ccc;
  background-color: #fff;

}

input.ng-invalid.ng-touched {
  border: red 2px solid;
}

.small {
  color: red;
  font-weight: bold;
}
