
<div class="container">
  <h1 class="text-center">Form</h1>
  <form [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
    <div class="col-md-3">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" id="name">
      <small *ngIf="reactiveForm.get('name').touched &&
      reactiveForm.get('name').invalid" class="small">*Name is required</small>
    </div>

    <div class="col-md-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email" id="email">
      <small *ngIf="reactiveForm.get('email').touched &&
      reactiveForm.get('email').invalid" class="small">*Email is required</small>
    </div>

    <!-- Radio -->

    <div class="mt-2">
      <span class="m-lg-2">
        <input class="m-lg-2"checked type="radio" formControlName="gender" value="male">
        <label>Male</label>
      </span>
      <span class="m-lg-2">
        <input class="m-lg-2" type="radio" formControlName="gender" value="female">
        <label> Female </label>
      </span>
      <span>
        <input class="m-lg-2" type="radio" formControlName="gender" value="other">
        <label>Other</label>
      </span>

    </div>

    <!-- Select -->

    <div   class="col-md-3 mt-2">
      <label for="course">Course</label>
      <select class="form-control mt-1" id="course"  formControlName = "course" >
        <option selected >plese select</option>
        <option  value="java">Java</option>
        <option value="python">Python</option>
        <option value="javascript">JavaScript</option>
      </select>
    </div>



    <!-- Form Group -->
    <div class="container" formGroupName="address">
      <h1>Address</h1>
      <div class="col-md-2">
        <label for="city">city</label>
        <input class="form-control" type="text" id="city" formControlName="city">
      </div>

      <div class="col-md-2">
        <label for="country">Country</label>
        <input class="form-control" type="text" id="country" formControlName="country">
        <small *ngIf="reactiveForm.get('address.country').touched &&
      reactiveForm.get('address.country').invalid" class="small">*Country is required</small>
      </div>
    </div>
    <hr>



    <!-- Form Array -->
<div class="container" >
  <h1>Skills</h1>
  <div class=" mt-2 column" formArrayName="skills" *ngFor="let control of reactiveForm.get('skills')['controls'];
         let i = index"  >
    <div class="row">
      <div class="col-md-2">
        <input placeholder="Add skills.." [formControlName]="i" class="form-control " type="text" >
      </div>
      <div class="col-md-2">
        <button (click)="removeSkill(i)" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
  <button type="button" class="mt-2 btn btn-info" (click)="addSkills()">Add Skills</button>
</div>



    <!-- Form Array and Form Form Group -->



    <div class="container" formArrayName="experience">
      <div class="container" *ngFor="let data of reactiveForm.get('experience')['controls'];
       let i = index" [formGroupName]="i">
<hr>
        <h1>Experience {{i+1}}</h1>
        <div class="row">
          <div class="col-md-2">
            <label for="companyName">Company Name</label>
            <input class="form-control" id="companyName" formControlName="companyName">
          </div>

          <div class="col-md-2">
            <label for="position">Position</label>
            <input class="form-control" formControlName="position" id="position">
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <label for="startDate">start date</label>
            <input type="date" formControlName="startDate" id="startDate">
          </div>
          <div class="col-md-2">
            <label for="endDate">End Date</label>
            <input type="date" formControlName="endDate" id="endDate">
          </div>
        </div>

        <button (click)="deleteExperience(i)" type="button" class="btn btn-danger mt-3">Delete Experience</button>
      </div>

    </div>


    <button (click)="addExperience()" class="btn btn-info mt-2">Add Experience</button>



    <div class="mt-4">
      <button [disabled]="reactiveForm.invalid"  type="submit" class="btn btn-success">Submit</button>
    </div>

  </form>
</div>
